---
# Handlers for monitoring role

- name: reload systemd
  systemd:
    daemon_reload: yes

- name: restart prometheus
  systemd:
    name: prometheus
    state: restarted

- name: restart alertmanager
  systemd:
    name: alertmanager
    state: restarted

- name: restart grafana
  systemd:
    name: grafana-server
    state: restarted
